:root {
  --pcm-primary: #fc9802;
  --pcm-primary-light: #ffd5a5;
  --pcm-primary-lighter: #fff0d6;
  --pcm-primary-lightest: #fff2e9;
  --pcm-primary-dark: #c57600;
  --pcm-green: #8fcb34;
  --pcm-green-light: #d6f4a4;
  --pcm-green-dark: #445d1e;
  --pcm-blue: #e269ec;
  --pcm-blue-light: #e7f0ff;
  --pcm-red: #fc2f02;
  --pcm-red-light: #ffede9;
  --pcm-purple: #4a51f0;
  --pcm-gray-1: #333333;
  --pcm-gray-2: #4f4f4f;
  --pcm-gray-3: #828282;
  --pcm-gray-4: #bdbdbd;
  --pcm-gray-5: #e0e0e0;
  --pcm-gray-6: #f4f4f4;
  --pcm-gray-7: #f9f9f9;
}

:root:root {
  --adm-color-primary: var(--pcm-primary);

  .adm-side-bar-item-active {
    font-weight: 500;
  }

  .adm-side-bar-item-highlight {
    width: 4px;
    height: 16px;
    top: 3px;
    border-radius: 0px;
  }
}
